<!DOCTYPE html>
<html lang="en" ng-app>
<head>
	<meta charset="UTF-8">
	<title>Redirector: Mappings</title>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/angular.min.js"></script>
    <script src="/AppController.js"></script>
</head>
<body ng-controller="AppController">
	<h1>Mappings</h1>

    <table>
        <tr>
            <th>Alias</th>
            <th>url</th>
        </tr>

        <tr>
            <td colspan="2">
                Alias: <input type="text" name="" id="" ng-model="alias">
                Url: <input type="text" name="" id="" ng-model="url">
                <button ng-click="addMapping()">Add Mappings</button>
            </td>
        </tr>

        <tr ng-repeat="mapping in mappings">
            <td>{{mapping.alias}}</td>
            <td>{{mapping.url}}</td>
        </tr>
    </table>
</body>
</html>
